*.exe
*.json
*.log
/template
*.zip
*.class
main

*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
*.mtc
*.mtc0

etc/

KU4078_Studium-Generale/
WI2022_Manajemen-Projek/
Latihan-Soal/
