*.exe
*.json
'02-Matematika Diskrit/'
'03-Logika Komputasional/'
'04-Organisasi dan Arsitektur Komputer/'
'06-Literasi Data dan Inteligensi Artifisial/'
'07-Bahasa Indonesia/'
'../01-Semester-1/'
'01-Algoritma dan Pemrograman 1/01-Materi/'
'01-Algoritma dan Pemrograman 1/02-Tugas/'
'01-Algoritma dan Pemrograman 1/03-Soal/'
