[submodule "Semester-2/IF1221_Logika-Komputasional/Tugas-Besar"]
	path = Semester-2/IF1221_Logika-Komputasional/Tugas-Besar
	url = https://github.com/GAIB22/praktikum-if1221-logika-komputasional-n1m0nskalcerzfamz.git
