[submodule "02-Semester-2/01-Algoritma-dan-Pemrograman-1/Besar-Tugas/if1210-tubes-2025-k02-d"]
	path = 02-Semester-2/01-Algoritma-dan-Pemrograman-1/Besar-Tugas/if1210-tubes-2025-k02-d
	url = https://github.com/raulinns/RumahSakitNimons
