*.exe
*.json
*.log
/template
02-Matematika-Diskrit/
03-Logika-Komputasional/
04-Organisasi-dan-Arsitektur-Komputer/
05-Pengenalan-Rekayasa-dan-Desain/
06-Literasi-Data-dan-Inteligensi-Artifisial/
07-Bahasa-Indonesia/
01-Semester-1/
Materi/
Kecil-Tugas/
Soal/
Note-Template/
.vscode/
/test.c
/test.exe